<?= $this->element('pdfCss/default_bill'); ?> 
<htmlpageheader name="myheader"><?= $this->element('pdfHeaders/default_quote'); ?></htmlpageheader>	
<sethtmlpageheader name="myheader" value="on" show-this-page="1" />
<sethtmlpagefooter name="myfooter" value="on" />	
<html>
<body>
    <?= $this->element('pdfBodies/default_quote'); ?>
</body>
</html>
