<!--div class="uk-alert uk-alert-danger" data-uk-alert>
    <a href="" class="uk-alert-close uk-close"></a>
    <p><?php // echo h($message); ?></p>
</div-->

<div class="note note-danger"  style="cursor:pointer;margin:0px;" >
    <a href="" class=""></a>
    <p><?php echo h($message); ?> <i class="fa fa-remove" style="float:right;color:#dca7b0;" onClick="$(this).parent().parent().remove();"></i></p>
</div>