<center>
<div class="footer uk-text-center"   style="position:fixed;Z-index:1000;border-top: 5px solid #589AB8;font-weight:normal;width:100" >
	<span style="color:#555555;">Noratech s.r.l.</span> <b>|</b> <span style="color:#555555;">viale Stelvio n.172/F, 23017 Morbegno (SO) </span>  <b>|</b>  <span style="color:#555555;">Tel. 0342 1590108 - Mail. </span> <b>|</b>  <span style="color:#555555;">Fax. 0342 1590212 </span> <b>|</b>  <span style="color:#000000;">info@noratech.it </span> <b>|</b>  <span style="color:#555555;">Numero REA SO – 73293 P.IVA e C.F. 00972950141 </span> <b>|</b>  <span style="color:#555555;">PEC noratechsrl@pec.it </span> <b>|</b>  <span style="color:#555555;">Capitale sociale € 10.000 i.v.</span>
</div>
</center>

<!--div class="uk-text-center" style="position:fixed;margin-left:10%;border-top:1px solid;Z-index:1000;font-family: 'Barlow Semi Condensed';font-size: 11pt;padding: 0.5% 0.5% 0.5% 0.5%;background-color: #ffffff;color: #589ab8;width: 80%;">
    <span style="color:#555555;">Noratech s.r.l.</span> | <span style="color:#555555;">viale Stelvio n.172/F, 23017 Morbegno (SO) </span> | <span style="color:#555555;">Tel. 0342 1590108 - Mail. </span>| <span style="color:#555555;">Fax. 0342 1590212 </span>| <span style="color:#000000;">info@noratech.it </span>| <span style="color:#555555;">Numero REA SO – 73293 P.IVA e C.F. 00972950141 </span>| <span style="color:#555555;">PEC noratechsrl@pec.it </span>| <span style="color:#555555;">Capitale sociale € 10.000 i.v.</span>
</div-->
