<?= $this->element('pdfCss/default_bill'); ?>
<htmlpageheader name="myheader"><?= $this->element($pdfHeader); ?></htmlpageheader>
<sethtmlpageheader name="myheader" value="on" show-this-page="1" />
<sethtmlpagefooter name="myfooter" value="on" />
<html><body><?= $this->element($pdfBody); ?></body></html>