@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,900');
.container { 
	/* width: 1270px; */
	width: 100vW;
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
}

.page-header {
/*	display: inline-block !important;
	height:80px !important; */
	
}

/** MODIFICHE PAGE-HEADER **/

.page-content
{
 	padding-bottom: 0px; 
 	height: 80vh;
}

.logo {	margin: 5px 10px 5px 10px; }

.top-menu {	margin-right: 3% !important; }

input {
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
	border: 1px solid #444d58;
}

#UserLoginForm {}

.tsext { width: 100%; }

input,
select,
textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 0px !important;
	border: 1px solid #AFBCC9;
	outline: none;
}

input:focus,
select:focus,
textarea:focus {
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 0px !important;
	border: 1px solid #444d58;
	animation-name: ease;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	outline: none;
}

@keyframes ease {
	0% {
		box-shadow: 0 0 0px #444d58;
	}
	100% {
		box-shadow: 0 0 5px #444d58;
	}
}

.form-actions {
	background-color: #fff !important;
	padding-bottom: 0px !important;
	padding-top: 15px !important;
}

.blue-button,
.blue-button:active,
.blue-button:focus {
	background-color: #589AB8;
	border: 1px solid #589AB8;
	color: #fff !important;
	width: 15%;
	font-size: 15px;
	font-family: "Montserrat", sans-serif !important;
	font-weight: 500 !important;
	text-transform: uppercase;
}

.blue-button:hover {
	/*background-color: #fff;*/
	background-color: #ea5d0b !important;
	border: 1px solid #589AB8;
	/*color: #589AB8 !important;*/
	color: #ffffff !important;
	text-decoration: none;
	animation-name: fill;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;

}



.form-hr {
	width: 100%;
	margin-bottom: 0px;
}

#id_search {
	padding-left: 10px;
	/*	margin: 0px 0px 0px 5px !important;
	padding-right: 10px;*/
}

#content {
	background-color: #fff;
	border: solid 1px #AFBCC9;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	padding: 2% 2% 2% 2%;
	min-height:87vh; 
/*	width:80vW;*/
	/*width: 1200px;*/
/*	margin: 2% 2% 2% 2%; */
}

.icon {
	padding-right: 2%;
	color: #3a3a3a;
	font-size: 140%;
}

.tools 
{
	padding: 1% 1% 1% 1%;
	/*border-left: 1px solid #444d58;
	border-bottom: 1px solid #444d58;*/
	-webkit-border-radius: 10px !important;
	border-radius: 0px 0px 0px 10px !important;
}

.caption {
	/* margin-bottom: 1%; */
}

.footer 
{
	padding: 0.5% 0.5% 0.5% 0.5%;
	background-color: #dadfe0;
	color: #589ab8;
	font-weight:bold;
	bottom: 0;
	width: 100%;
	position: fixed;
}

.menu-voice a:visited,.menu-voice a:active,.menu-voice a:link {	color: #000; }

.menu-voice a:hover {
	/* background-color: #fff; */
	background-color: #dadfe0; 
	color: #444d58;
}

.table {
	margin-top: 2%;
}



.dark {
	background-color: #589AB8;
	padding-left: 20px;
	padding-right: 20px;
}

#notification-drop {
	padding: 10px 10px 10px 10px;
}

.form-margin-top {
	margin-top: 2%;
}

.ui-helper-hidden-accessible {
	display: none;
}

#voc {
	width: 9px;
	font-size: 10px;
	color: #444d58;
}

/*ul.ui-autocomplete {
	width: 250px;
	background: #fff;
	border: 1px solid #888;
	margin-right: 1000px;
	padding: 2px 10px 2px 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: +2;
	display: inline-block;
	color: #444d58;
}*/

 .ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}

li.ui-menu-item {
	list-style-type: none;
}

a.ui-corner-all {
	color: #444d58 !important;
}

div .input {
	margin: 0px !important;
}

.form-control {
	margin-top: 0px !important;
}

.input-group {
	width: 95%;
}

/* Dark band è la band superiore per gli errori e la login*/
.dark-band {
/*	height: 98px;*/
	background-color: #dadfe0;
	padding-top: 5px;
}

.table-max-width {
	max-width: 200px;
}

.curved-border {
	border: 1px solid #a1a6ab;
	padding: 10px 10px 10px 10px;
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
}

.new-bill {
	width: 12%;
}

.new-bill:hover
{
	width: 12%;
}

.new-bill.salva:hover
{
	width: 12%;
	color: #ffffff !important;
	background-color:#589AB8 !important;
}

.personal-hr {
	border-color: #444d58;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: -2.2%;
	margin-left: -2.2%;
}

.date {
	width: 33% !important;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	background-color: white;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

body {
	font-family: sans-serif;
	font-size: 10pt;
}

p {
	margin: 0pt;
}

td {
	vertical-align: top;
}

.items td {
	border-left: 0.1mm solid #3a3a3a;
	border-right: 0.1mm solid #3a3a3a;
}

table thead td {
	background-color: #EEEEEE;
	text-align: center;
	border: 0.1mm solid #3a3a3a;
}

.items td.blanktotal {
	background-color: #FFFFFF;
	border: 0mm none #3a3a3a;
	border-top: 0.1mm solid #3a3a3a;
	border-right: 0.1mm solid #3a3a3a;
}

.items td.totals {
	text-align: right;
	border: 0.1mm solid #3a3a3a;
}

.items td.white {
	border: 0.0mm solid #ffffff;
}

.remove {
	color: red;
}

.recap {
	margin-top: 3%;
	width: 100%;
}

.date-column {
	max-width: 100px !important;
}

.padding-right {
	padding-right: 10px;
}

.padding-tools {
	padding-top: 1%;
	padding-right: 1%;
}

#authMessage {
	display: none !important;
}

.no-padding {
	margin-top: -2%;
	margin-right: -2.2%;
}

.remove-space {
	width: 90%;
}

.tools .icon {
	color: #DADFE0;
	padding-right: 20px;
	margin-top: 10px;
}

.uk-h1 {
	font-size: 18px;
	line-height: 20px;
    color:#589AB8; 
	
	text-align: center;
}

th {
/*	color: #C2001D; */
	color: #589AB8; 
} 

td a {
	color: #589AB8;
}

.uk-navbar-nav>li>a {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	height: 98px;
	padding: 0 15px;
	line-height: 97px;
	color: #444;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: -1px; 
	margin-left: -1px;
	border: 1px solid transparent;
	border-bottom-width: 0;
	text-shadow: 0 0px 0 #fff;
}

.menu-voice>a:hover 
{
	background: #589AB8 !important;
	color: #589AB8 !important;
}

.attivo>a {
	background: #fff !important; 
	color: #589AB8 !important;
}

.menu-voice {
	border-bottom: 5px solid #589AB8;
}

.menu-voice>a {
	font-weight: bold !important;
}

.uk-navbar {
	border: 0px solid rgba(0, 0, 0, 0.06);
}

.uk-icon-file-pdf-o {
	color: #C2001D;
}

html {
	background: #eff3f8;
}

a:hover {
	color: #DADFE0;
	text-decoration: none;
}


.uk-icon-pencil {
	color: #EA5D0B;
}

.uk-icon-envelope {

	color: #4bc28c;
}

.col-mod-half-center {
	width: 50%;
	float: left;
}

select.uk-form-large,
textarea.uk-form-large,
input[type].uk-form-large,
input:not([type]).uk-form-large {
	height: 35px;
	padding: 8px 6px;
	font-size: 15px;
}

.col-md-1.uk-divide {
	width: 1px !important;
	background: #AFBCC9;
	min-height: 250px;
	padding: 0px;


}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase
}

.col-md-half {
	width: 50%;
	float: left;
}

.contenitore {
	align-items: center;
	display: flex;
}
.accordion-toggle{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color:#4BC28C !important;
	text-transform: uppercase;
	font-weight:600;
}
.uk-form-horizontal .uk-form-controls {
    margin-left: 0px;
}
.uk-form-row{
	/*padding-left: 10%;
	padding-right: 10%;*/
}
.provincia{
	text-transform: uppercase;
}
.blue-button.bad{
	width:100%;
}

/** FORM -CONTROL PROVA **/

.form-control
{
	font-size :12px;
	padding: 0px 5px;
	height:29px;
	margin:0px;
}

.uk-form input[type="text"]
{
	font-size :12px;
	padding: 0px 5px;
	height:29px;
	margin:0px;
}

.uk-form-row
{
	margin-top:0px;
}

.uk-alert
{
	margin-top:5px;
	margin-bottom:5px; 		
	margin-left:5px; 		
	margin-right:15px; 		
	
}

.form-margin-top
{
  margin-top:0px; 	
  
}

.navbar
{
	margin-bottom:-1px;
}


/** FILTERABLE SELECT  **/

.multiple-select-container  .input-group .input-group-addon > i
{
	color:#059dff;
}

.multiple-select-container  .btn-default:hover
{
	background-color:#ffffff;
}

.multiple-select-container .multiselect-clear-filter
{
	border:0px !important;

}
.multiple-select-container  .btn-default >  i[class*="icon-"]
{
	color:#059dff;
}

.multiple-select-container  li [class*=" glyphicon-"]
{
	top:0px;
}

.multiple-select-container  .input-group .input-group-addon
{
	background-color:#ffffff;
	border: none;
}

.multiple-select-container .btn-group > .dropdown-menu
{
	margin-top:0px;
}

.multiple-select-container .input-group-btn
{
	margin-left:5px;
}

/** TABELLE **/

table 
{
	font-size:11px;
}

.table thead tr th
{
	font-size:11px;
}

/** multiple-filterable-selecgt **/

.multiselect.dropdown-toggle.btn.btn-default
{
	padding-top:3px;
	padding-bottom:4px;
}

/** Sistemazione righetta bianca in hover nel menu */

.dropdown-menu.dropdown-menu-fw.container-level-uno
{
	display:none;
}


/* Personalizzo il colore dei flash message */

.uk-alert-danger
{
	color:#e74600;
}

.uk-alert-success
{
	color:#577400;
}

/** Personalizzo colori **/


.verde
{
	color:#577400;
}

.rosso
{
	color:#e74600;
}

.azzurro
{
	color:#589ab8;
}

.nero
{
	color:#3a3aba;
}

.arancio
{
	color:#ea5d0b;
}

.arancione
{
	color:orange;
}


.grigio
{
	color:#dadfe0;
}

.giallo
{
	color:#fcc000;
}


/* NUOVI CSS */

/* Nuove icone V1.2.1 - grandezza */
.golIcon
{
	width:20px;
	height:20px;
	min-width:20px;
	min-height: 20px;
	margin:3px;
}

.fa-refresh
{
	width:16px;
	height:16px;
	min-width:16px;
	min-height: 16px;
	margin:3px;
	cursor:pointer !important;
}



/** Allinemento testo **/
.right
{
	text-align:right;
}

.left
{
	text-align:right;
}

/** Icone **/

.fa.fa-asterisk
{
	color:#e74600;
	vertical-align:top;
	font-size:9px;
}

/** Messaggi di errore validazione **/
.error-message
{
	color:#e74600;
}

/** FORM **/

.printCheckbox {
	text-align: center;
}

.printCheckbox input[type="checkbox"]
{
	width:20px;
	height:20px;
}

/*  DA QUI MODIFICHE POST RIMOZIONE UIKIT */

.rimuoviRigaIcon
{
	float:right;
}