 <form class="search" action="extra_search.html" method="GET">
    <input type="name" class="form-control" name="query" placeholder="Search...">
    <a href="javascript:;" class="btn submit md-skip">
        <i class="fa fa-search"></i>
    </a>
</form>