
<!--div>
	<div style="width:26mm;float:left;text-align:center;background-color:#eeeeee;border:0.2mm solid black;">Codice articolo</div>
	<div style="width:125mm;float:left;text-align:center;background-color:#eeeeee;border:0.2mm solid black;">Descrizione</div>
	<div style="width:10mm;float:left;text-align:center;background-color:#eeeeee;border:0.2mm solid black;">U.M.</div>
	<div style="width:17mm;float:left;text-align:center;background-color:#eeeeee;border:0.2mm solid black;">Quantità</div>
</div-->
	
	<thead>
		<tr>
			<td style="width:26mm;float:left;text-align:center;background-color:#eeeeee;border:0.2mm solid black;">Cod. art.</td>
			<td style="width:125mm;float:left;text-align:center;background-color:#eeeeee;border:0.2mm solid black;">Descrizione</td>
			<td style="width:10mm;float:left;text-align:center;background-color:#eeeeee;border:0.2mm solid black;">U.M.</td>
			<td style="width:17mm;float:left;text-align:center;background-color:#eeeeee;border:0.2mm solid black;">Quantità</td>
		</tr>
	</thead>
