<?php

$widhtDefault = 100;

$settings['Setting']['bill_print_remove_quantity'] == 1 ? $widhtDefault += 52: null;
$settings['Setting']['bill_print_remove_discount'] == 1 ? $widhtDefault += 10: null;

?>
<thead>
    <tr>
	    <!--td width="<?php //$widthDefault; ?>mm;font-size:8pt;">DESCRIZIONE</td-->
	     <td width="<?= $widhtDefault; ?>mm;font-size:8pt;">DESCRIZIONE</td>
	
		<?php
			if( $settings['Setting']['bill_print_remove_quantity'] == 0)
			{ 
		?>
			<td width="10mm;font-size:8pt;">U.M.</td>
			<td width="22mm;font-size:8pt;">QUANTITA'</td>
			<td width="20mm;font-size:8pt;">PREZZO UNITARIO</td>
		<?php 
			}
		?>
		
		<td width="20mm;font-size:8pt;">IMPORTO TOTALE</td>
		<?php
			if($settings['Setting']['bill_print_remove_discount'] == 0)
			{ 
		?>
		<td width="10mm;font-size:8pt;">SCONTO</td>
		<?php 
			}
		?>
		<td width="10mm;font-size:8pt;">IVA</td>
	</tr>
</thead>
