<!--script>
    function loadClientDifferentReferredAddress(clientInputId,sezioneDiProvenienza)
    {
         /* Se abilitato il rivenditore Vado a prendere i vari indirizzi del cliente  */
        <?php /*if(RESELLER_ENABLED) { */?>
        $.ajax
        ({
		    method: "POST",
			url: "<?php // $this->Html->url(["controller" => "bills","action" => "getClientDifferentReferredAddress"]) ?>",
			data: 
			{
			   clientId : $(clientInputId).val(),
			},
			success: function(data)
			{
			    data = JSON.parse(data);
			    switch(sezioneDiProvenienza)
			    {
			    	case 'fatture':
			    		referredClientId = '#BillReferredclientId'; 
			    		alternativeAddress = "#BillAlternativeaddressId";
		    		break;
			    	case 'ddt':
			    		referredClientId = '#TransportReferredclientId'; 
			    		alternativeAddress = "#TransportAlternativeaddressId";
		    		break;
			    }
			    
				$(referredClientId).find('option').remove().end();
				if(data != null && data.length != 0)
				{
				    $("#differentAddressreseller").show();
					$(referredClientId).append($("<option></option>").attr("value",'empty').text(""));
					$.each(data,
					    function(key, element)
					    {
					        var indirizzo = element.name + ' - ' + element.address + '  ' + element.cap + '  ' + element.city + '  ' + element.province + '  ' + element.nazionalita;
					        $(referredClientId).append($("<option></option>").attr("value",element.id).text(indirizzo));             
					    })
			    }
				else
				{
				    $(referredClientId).val('');
					$("#differentAddressreseller").hide();
				}
					      
				// Annulla l'eventuale valore del destino diverso
				$(referredClientId).change(function()
				{
				    if($(this).val() != 'empty')
					{
					    $(alternativeAddress).val('');
                    }
				});
					       
				$(alternativeAddress).change(function()
				{
				    if($(this).val() != 'empty')
					{
					    $(referredClientId).val('');
					}
                }); 
					       
					       
			}
        });
        <?php // } ?>
    }
</script-->