<td style="width:85mm;border: 0.2mm solid #000000; padding-left:10px;padding-top:5px;">
    <span style="font-size: 8pt; color: #000000; font-family: sans;"><b>Spett.le:</b></span>
	<br />
	<?php $conteggio = 1; ?>
	<?= $bill['Bill']['client_name']; ?>
	<?php strlen($bill['Bill']['client_name']) >40 ?  $conteggio++ : null;  ?>
	<br /><br />
	<?php strlen($bill['Bill']['client_address']) > 40 ? $conteggio += 2 : $conteggio += 1;  	?>	
	<?= $bill['Bill']['client_address']; ?><br />
	<?php strlen($bill['Bill']['client_cap'] . ' ' . $bill['Bill']['client_city'] . ' ' . $bill['Bill']['client_province']. ' - ' .$bill['Nation']['name']) > 40 ? $conteggio += 2 : $conteggio +1; ?>
	<?= $bill['Bill']['client_cap'] . ' ' . $bill['Bill']['client_city'] . ' ' . $bill['Bill']['client_province']; ?>
	<?= isset($bill['Nation']['name']) ? ' - ' . $bill['Nation']['name'] : null;  ?>
	<br /><br />
	<?php 
	    for ($i =0; $i < 5-$conteggio; $i++)
		{
		    echo '<br />';			
		}
	?>
</td>