<div class="ajax-filter-animation blockUI blockMsg blockElement">
	<div class="loading-message">
		<div class="block-spinner-bar">
			<div class="bounce1">
			</div>
			<div class="bounce2">
			</div>
			<div class="bounce3">
			</div>
		</div>
	</div>
</div>