<div class="form-group col-md-12" >
    <?php $thisStyle = "padding-top:20px;margin-right:10px;background-color:grey;color:#fff;min-height:70px;font-size:15pt;font-weight:normal;text-transform:uppercase !important;font-family: 'Barlow Semi Condensed' !important;text-align:center;vertical-align:middle;float:left;"; ?>
    <div class="col-md-5 cash"   onclick="changePayment('cash')" style="<?= $thisStyle ?>"><?= 'CONTANTI' ?></div>
    <div class="col-md-5 electronic"   onclick="changePayment('electronic')" style="<?= $thisStyle ?>"><?= 'ELETTRONICO' ?></div>
</div>
