.file-viewer .download {
    text-decoration: none
}

.file-viewer .preview {
    max-width: 200px;
    max-height: 200px;
}

.file-viewer .preview[expandible="true"]:not(.preview-expanded) {
    max-width: 50px;
    max-height: 50px;
}

.file-viewer .preview-expanded {
    position: fixed;
    max-width: 400px;
    max-height: 400px;
    background-color: #fff;
    border: 1px solid #eee;
    padding:15px;
}