
<!--div class="col-md-half uk-container"-->
<center>
	<div style="width:50%">
	<?= $this->Form->create('User', ['url' => 'login', 'class'=>'uk-container uk-container-center']); ?>
	<?php echo $this->Session->flash('auth'); ?>
	<h1 class="uk-text-center uk-h3" style="color: #C2001D;">INSERIRE TARGA DEL VEICOLO</h1>
	<div class="portlet-body form">
		<div class="form-body uk-text-center">
			<div class="form-group">
				<div class="form-group col-md-12">
					<input type="text" placeholder="Username" name="data[User][username]" >
				</div>
			</div>
		</di>
		</div>
	</div>
	<h1 class="uk-text-center uk-h3" style="color: #C2001D;">INSERIRE PASSWORD</h1>
	<div class="form-group">
		<div class="form-group col-md-12">
			<input type="password" placeholder="Password" name="data[User][password]" >
		</div>
	</div>
			
			<div class="form-actions">
				<?php
					echo $this->Form->submit(__('Login',true), array('class'=>'btn blue-button'));
	    			echo $this->Form->end();
	    		?>
	    		<br>
	    		
			</div>
		</div>
	</div>
<!--/div-->
</div>
</center>


