.ajax-filter-loading-container {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    background-color: transparent;
    z-index: 99999999;
    display: flex;
    align-items: flex-start;
    padding-top: 15px;
}

.ajax-filter-loading-background {
    opacity: .3;
}

.ajax-filter-loading-image {
    margin: 0px auto;
}

.ajax-filter-animation {
    z-index: 1011;
    position: absolute;
    padding: 0px;
    margin: 0px; 
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 0px none;
    cursor: default;
    left: 0; 
    top: 0;
}

.block-spinner-bar>div {
    background: #444;
}