.paginator:not(.custom-paginator) .pagination>li>a,
.paginator:not(.custom-paginator) .pagination>li>a:focus, 
.paginator:not(.custom-paginator) .pagination>li>a:hover, 
.paginator:not(.custom-paginator) .pagination>li>span, 
.paginator:not(.custom-paginator) .pagination>li>span:focus, 
.paginator:not(.custom-paginator) .pagination>li>span:hover {
    border-color: #6c7b88 !important;
    color: #6c7b88 !important;
}

.paginator:not(.custom-paginator) .pagination>.disabled>a,
.paginator:not(.custom-paginator) .pagination>.disabled>a:focus, 
.paginator:not(.custom-paginator) .pagination>.disabled>a:hover, 
.paginator:not(.custom-paginator) .pagination>.disabled>span, 
.paginator:not(.custom-paginator) .pagination>.disabled>span:focus, 
.paginator:not(.custom-paginator) .pagination>.disabled>span:hover {
    border-color: #6c7b88 !important;
    color: #6c7b88 !important;
    background-color:  #ddd;
}

.paginator:not(.custom-paginator) .pagination>.active>a,
.paginator:not(.custom-paginator) .pagination>.active>a:focus, 
.paginator:not(.custom-paginator) .pagination>.active>a:hover, 
.paginator:not(.custom-paginator) .pagination>.active>span, 
.paginator:not(.custom-paginator) .pagination>.active>span:focus, 
.paginator:not(.custom-paginator) .pagination>.active>span:hover {
    border-color: #6c7b88 !important;
    color: #fff !important;
    background-color:  #6c7b88;
}

.paginator:not(.custom-paginator) {
    text-align: center;
}