<div class=" -badge tools" style="white-space:nowrap;">
    <?=  $this->Html->link('<i class="uk-icon-plus-circle icon padding-right"></i>', ['action' => $action],['title'=>__($testo),'escape'=>false]); ?>
</div>